.status span {
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  text-align: center;
}
.status .new {
  background: #c8c8c8;
}
.status .waiting {
  background: #E7A058;
}
.status .success {
  background: #65C0A0;
}
.status .failed {
  background: #D0453C;
}
.status .cancelled {
  background: #BD8D8A;
}
body.wp-admin {
  background: #F0F0F1;
}
#wpcontent .view-inscription .panel {
  position: relative;
  min-width: 255px;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
}
#wpcontent .view-inscription .panel .panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c3c4c7;
}
#wpcontent .view-inscription .panel .panel-header h2 {
  font-size: 15px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  font-weight: 600;
}
#wpcontent .view-inscription .panel .panel-body {
  padding: 23px 24px 12px;
}
#wpcontent .view-inscription .panel h2 {
  margin: 0;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: 1px 1px 1px #fff;
  padding: 0;
}
#wpcontent .view-inscription .panel p {
  color: #777;
}
#wpcontent .view-inscription .panel h3,
#wpcontent .view-inscription .panel h4 {
  color: #333;
  margin: 1.33em 0 0;
  font-size: 14px;
  font-weight: 600;
}
#wpcontent .view-inscription .panel .col-cnt {
  margin-top: 14px;
}
#wpcontent .view-inscription .panel .form-group {
  margin-bottom: 5px;
  font-size: 14px;
}
#wpcontent .view-inscription .panel .form-group label {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  vertical-align: top;
  margin: 0;
}
th#id {
  width: 3%;
}
